/**
*
* Imports
*
**/
body {
 background: white;
}
// Utils
@import "utils/variables";
@import "utils/functions";
@import "utils/mixins";

// Base Rules
@import "base/reset";
@import "base/global";
@import "base/typography";
@import "base/webform";

//  Layout Rules
@import "layout/layout";
@import "layout/header";
@import "layout/footer";
@import "layout/content";
@import "layout/sidebar";
@import "layout/front";

// Module Rules
@import "modules/navigation";
@import "modules/navigation-main";
@import "modules/navigation-footer";
@import "modules/navigation-content";
@import "modules/articles";

// State Rules
@import "state/state";
@import "state/animation";

// Theme Rules
@import "theme/theme";
